<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
<div th:replace="~{fragments.html :: main-nav}"></div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div th:replace="~{fragments.html :: manager-side-nav}"></div>
        </div>
        <div class="col-8 margin">
            <div class="row margin">
                <h2> Food 상품 등록 </h2>
                <hr>
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">등록 완료</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row margin">

                <form action="#" th:action="@{/manager/categoryRegistration}" th:object="${categoryForm}" method="post">
                    <div class="form-group">
                        <label for="name">카테고리명</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="parentId">카테고리 설정</label>
                        <select id="parentId" th:field="*{parentId}" class="form-control">
                            <option th:value="null">없음</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">등록 하기</button>
                </form>


            </div>
        </div>


    </div>
</div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js}"></script>
</html>