<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
<div th:replace="~{fragments.html :: main-nav}"></div>
<div class="container margin">
  <div class="row">
    <div class="col-2">
      <div th:replace="~{fragments.html :: manager-side-nav}"></div>
    </div>
    <div class="col-2"></div>
    <div class="col-8 margin">
      <div class="row margin">
        <h2> 유기견 수정 </h2>
        <hr>
      </div>
      <div class="row margin">
        <form class="needs-validation col-sm-6 " action="#" th:action="@{/manager/dogModify/{id}(id=${id})}" th:object="${dogModifyForm}" method="post" novalidate>
          <div class="form-group mt-2">
            <label for="dogBreed">품종</label>
            <input id="dogBreed" type="text" th:field="*{dogBreed}" class="form-control" placeholder="품종" aria-describedby="dogBreed"  required>
            <small id="dogBreedHelp" > 품종을 입력해주세요 </small>

          </div>
          <div class="form-group mt-2">
            <label for="dogName"> 이름</label>
            <input id="dogName" type="text" th:field="*{dogName}" class="form-control" placeholder="이름" required>
            <small id="dogNameHelp" > 이름을 입력해주세요 </small>
<!--            <small class="form-text text-danger" th:if="${#fields.hasErrors('dogName')}" th:errors="*{dogName}">dogName Error</small>-->
          </div>

          <div class="form-group mt-2">
            <label for="dogAge">나이</label>
            <input id="dogAge" type="number" th:field="*{dogAge}" class="form-control" placeholder="나이" aria-describedby="dogAge"  required oninput="this.value = this.value.replace(/[^1-9]/g, '');">
            <small id="dogAgeHelp" > 나이를 입력해주세요 </small>
          </div>

          <div class="form-group mt-2">
            <label for="dogSex">성별</label>
            <select id="dogSex" class="form-control" th:field="*{dogSex}">
              <option th:each="sex : ${T(projlee.modules.dog.domain.Sex).values()}"
                      th:value="${sex}"
                      th:text="${sex}">
              </option>
            </select>
          </div>

          <div class="form-group mt-2">
            <label for="information">정보</label>
            <textarea id="information" type="textarea" th:field="*{information}" class="editor form-control"
                      placeholder="유기견의 정보를 입력해주세요" aria-describedby="informationHelp" required></textarea>
            <small id="fullDescriptionHelp" class="form-text text-muted">
              유기견의 정보 사진등을 적어주세요
            </small>
            <small class="invalid-feedback">상세 소개를 입력하세요.</small>
          </div>



          <div class="form-group">
            <input id="dogPicture" type="hidden" th:field="*{dogPicture}" class="form-control" />
          </div>



          <div class="form-group mt-5">
            <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">등록하기</button>
          </div>
        </form>

        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-header">
              프로필 이미지
            </div>
            <div id="current-profile-image" class="mt-3">
              <svg th:if="${#strings.isEmpty(dogModifyForm.dogPicture)}" class="rounded"
                   th:data-jdenticon-value="${dogModifyForm.dogName}" width="125" height="125"></svg>
              <img th:if="${!#strings.isEmpty(dogModifyForm.dogPicture)}" class="rounded"
                   th:src="${dogModifyForm.dogPicture}"
                   width="125" height="125" alt="name" th:alt="${dogModifyForm.dogName}"/>
            </div>
            <div id="new-profile-image" class="mt-3"></div>
            <div class="card-body">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="profile-image-file">
                <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
              </div>
              <div id="new-profile-image-control" class="mt-3">
                <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
              </div>
              <div id="cropped-new-profile-image" class="mt-3"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css}" rel="stylesheet">
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script type="application/javascript">
  $(function() {
    cropper = '';
    let $confirmBtn = $("#confirm-button");
    let $resetBtn = $("#reset-button");
    let $cutBtn = $("#cut-button");
    let $newProfileImage = $("#new-profile-image");
    let $currentProfileImage = $("#current-profile-image");
    let $resultImage = $("#cropped-new-profile-image");
    let $dogPicture = $("#dogPicture");

    $newProfileImage.hide();
    $cutBtn.hide();
    $resetBtn.hide();
    $confirmBtn.hide();

    $("#profile-image-file").change(function(e) {
      if (e.target.files.length === 1) {
        const reader = new FileReader();
        reader.onload = e => {
          if (e.target.result) {
            if (!e.target.result.startsWith("data:image")) {
              alert("이미지 파일을 선택하세요.");
              return;
            }

            let img = document.createElement("img");
            img.id = 'new-profile';
            img.src = e.target.result;
            img.setAttribute('width', '100%');

            $newProfileImage.html(img);
            $newProfileImage.show();
            $currentProfileImage.hide();

            let $newImage = $(img);
            $newImage.cropper({aspectRatio: 1});
            cropper = $newImage.data('cropper');

            $cutBtn.show();
            $confirmBtn.hide();
            $resetBtn.show();
          }
        };

        reader.readAsDataURL(e.target.files[0]);
      }
    });

    $resetBtn.click(function() {
      $currentProfileImage.show();
      $newProfileImage.hide();
      $resultImage.hide();
      $resetBtn.hide();
      $cutBtn.hide();
      $confirmBtn.hide();
      $dogPicture.val('');
    });

    $cutBtn.click(function () {
      let dataUrl = cropper.getCroppedCanvas().toDataURL();

      if (dataUrl.length > 1000 * 1024) {
        alert("이미지 파일이 너무 큽니다. 1024000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
        return;
      }

      let newImage = document.createElement("img");
      newImage.id = "cropped-new-profile-image";
      newImage.src = dataUrl;
      newImage.width = 125;
      $resultImage.html(newImage);
      $resultImage.show();
      $confirmBtn.show();

      $confirmBtn.click(function () {
        $newProfileImage.html(newImage);
        $cutBtn.hide();
        $confirmBtn.hide();
        $dogPicture.val(dataUrl);
      });
    });
  });
</script>

<script>
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())

</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script type="application/javascript">
  $(function () {
    $('.editor').summernote({
      fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
      placeholder: ' 유기견의 정보 사진등을 적어주세요 ',
      tabsize: 2,
      height: 300
    });
  });
</script>

</html>