server:
  max-http-request-header-size: 10MB
  forward-headers-strategy: native

spring:

  mail:
    host: smtp.gmail.com
    port: 587
    username: dleogur93@gmail.com
    password: hfnlhevxqwwqpszc
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true


  datasource:
    url: jdbc:mysql://always-together-db.cp6cewyqi7qr.ap-northeast-2.rds.amazonaws.com:3306/always-together-db
    username: admin
    password: Ss029018$$
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging.level:
  org.hibernate.SQL: debug

