<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
<div th:replace="~{fragments.html :: main-nav}"></div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div th:replace="~{fragments.html :: side-nav}"></div>
        </div>

        <div class="col-8 margin">
            <div class="row margin">
                <h2> 계정 탈퇴</h2>
                <hr>
            </div>
            <div class="row margin">
                <form class="needs-validation col-sm-6 " action="#" th:action="@{/account/delete}"  method="post" novalidate>

                    <div class="form-group mt-5">
                        <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">계정 탈퇴</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>